<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @cost.subject %>
</p>

<p>
  <strong>Material:</strong>
  <%= @cost.material %>
</p>

<p>
  <strong>Product:</strong>
  <%= @cost.product %>
</p>

<p>
  <strong>Pressure:</strong>
  <%= @cost.pressure %>
</p>

<p>
  <strong>Size:</strong>
  <%= @cost.size %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @cost.quantity %>
</p>

<p>
  <strong>Hvk:</strong>
  <%= @cost.hvk %>
</p>

<p>
  <strong>Fujii:</strong>
  <%= @cost.fujii %>
</p>

<p>
  <strong>Imamoto:</strong>
  <%= @cost.imamoto %>
</p>

<p>
  <strong>Selling price:</strong>
  <%= @cost.selling_price %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @cost.remarks %>
</p>

<p>
  <strong>Sign:</strong>
  <%= @cost.sign %>
</p>

<p>
  <strong>Product model:</strong>
  <%= @cost.product_model %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @cost.unit %>
</p>

<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', costs_path %>
